<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../docs/style.css">
        <title>(Placeholder)</title>
    </head>
    <body>
        <div id="banner-container">
            <img alt="" src="banner.webp"/>
        </div>
        <div id="content-container">
            Content from source Markdown files goes here
        </div>
        <div id="footer"></div>
    </body>
</html>
