/* Main body and containers for content and banner image */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Georgia', 'serif';
    background: antiquewhite;
}

#banner-container, #content-container {
    max-width: 800px;
    margin: 0 auto;
}

#content-container {
    padding: 24px;
}

#banner-container img {
    width: 100%;
    height: auto;
}

#content-container img {
    max-width: 100%;
    height: auto;
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(to bottom, transparent 0%, antiquewhite 33%);
    display: flex;
    align-items: center;
    justify-content: center;
    /*z-index: 1000; /* to be on top of other content */
}

/* Text, headings, and other colors */

p, li, span {
    color: sienna;
    font-size: 1.1rem;
}

h1, h2 {
    font-family: 'Palatino Linotype', 'Book Antiqua', 'Palatino', 'serif';
}

h1 {
    color: peru;
    font-weight: 700;
    font-size: 2.8rem;
    margin-bottom: 0.4em;
}

h2 {
    color: peru;
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 0.6em;
}

a {
    display: inline-block; /* required for certain hover effects */
    position: relative;    /* required for certain hover effects */
    color: steelblue;
    text-decoration: none;
    transition: color 0.3s ease, background 0.3s ease;
}

/* Hyperlinks: color fade */
a:hover, a:focus {
    color: peru;
}


/* Use the below to adjust depending on view screen size, e.g. for phones and tablets */

/*@media (max-width: 1000px) {
    .container {
        width: 95vw;
        padding: 8vw 2vw;
    }
    .bg-top, .bg-bottom {
        min-height: 120px;
    }
}
@media (max-width: 600px) {
    .container {
        width: 100vw;
        padding: 16px 0;
    }
    .bg-top, .bg-bottom {
        min-height: 80px;
    }
}*/
